@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #acacac;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  width: 100%;
  background: linear-gradient(#acacac, #acacac);
  color: white;
  padding: 40px;
}

.meme--image {
  width: 100%;
  gap: 32px;
  border-end-end-radius: 16px;
  object-fit: contain;
  height: 500px;
}

.form--button {
  width: 100%;
  font-family: "Karla", sans-serif;
  cursor: pointer;
  margin: 20px;
}
